# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.idea/workspace.xml
.idea/vcs.xml
.idea/node-heroku.iml
.idea/modules.xml
.idea/misc.xml
.idea/jsLibraryMappings.xml
